.main-block{
    margin: 0 auto;
    margin-top: 30px;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}


img{ height: 500px; }

.description-box{
    padding-top: 10px;
}

.content{
    padding: 50px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    justify-items: center;
}

.product-description{
    display: grid;
    grid-template-rows: auto; 
}

.additional-traits{ padding: 20px; }

.title{
    text-align: center;
    margin-bottom: 20px;
}