<div class="main-block">
    <div class="content border">

        <div>
            <div class="title">
                <h1>{{ product.title }}</h1>
            </div>
            <img src="https://github.com/mih777/images/blob/master/iphone.jpeg?raw=true" alt="">
        </div>

        <div class="product-description">
            <div class="description-box">
                <h3>Description</h3><br><br>
                <quill-view-html [content]=" product.info ">{{ product.info }}</quill-view-html>
            </div>
            <div>
                <button  class="buy-button">byu</button>
            </div>
        </div>
    </div>
    <div class="additional-traits border" >
        <div>
            <div>
                <quill-view-html [content]=" product.description ">{{ product.description }}</quill-view-html>
            </div>
        </div>
    </div>
</div>