<div class="main-block">
    
        <div class="content border">
            <div>
                <img src="https://github.com/mih777/images/blob/master/iphone.jpeg?raw=true" alt="">
            </div>
            <div class="product-description">
                <div>
                    <h3>Description</h3><br><br>
                    <p>
                        ID: 5761058<br>
                        Артикул: 821238<br>
                        Диагональ (дюйм): 6.67<br>
                        Разрешение (пикс): 2400x1080<br>
                        Встроенная память (Гб): 128<br>
                        Фотокамера (Мп): 64 + 8 + 5 + 2 (четыре основные камеры)<br>
                        Процессор: Qualcomm Snapdragon 720G<br>
                    </p>
                </div>
                <div>
                    <button  class="buy-button">byu</button>
                </div>
                <div>
                    <button  class="simple-button" (click)="showDescription()">show full description</button>
                </div>
            </div>
        </div>
        <div class="additional-traits border" *ngIf="description">
            <div>
                <p>
                    Мобильный телефон Xiaomi Redmi Note 9 Pro 6/128GB (белый)
            
                    СИСТЕМА ЧЕТЫРЕХ КАМЕР ФЛАГМАНСКОГО УРОВНЯ
            
            
            
                    Redmi Note 9 Pro оснащен системой четырех камер флагманского уровня. Основной модуль с разрешением 64 Мп позволяет делать снимки невероятного качества, а благодаря сверхширокоугольной камере, макро камере и сенсору глубины вы всегда будете готовы к съемке в любых условиях.
            
            
            
                    КАЖДЫЙ МОМЕНТ ДОЛЖЕН БЫТЬ ЗАПЕЧАТЛЕН
            
            
            
                    Система камер Redmi Note 9 Pro со сверхвысоким разрешением и алгоритмами нейронной обработки изображения гарантирует, что вы всегда будете готовы к съемке мимолетных моментов. Влюбитесь в фотографию и сохраните самые важные воспоминания.
            
            
            
                    БЫСТРЕЕ И МОЩНЕЕ
            
            
            
                    Смартфоны серии Redmi Note никогда не боялись тестов производительности. Redmi Note 9 Pro предлагает еще более головокружительные возможности для учебы, работы и развлечений.
            
            
            
                    БЫСТРАЯ ЗАРЯДКА, ВПЕЧАТЛЯЮЩАЯ АВТОНОМНОСТЬ
            
            
            
                    С аккумулятором емкостью 5020 мАч (стандартная) и сверхбыстрой 30 Вт зарядкой вы забудете о том, что такое разряженный смартфон. Redmi Note 9 Pro способен работать до 16 часов в режиме навигатора, а также обеспечивает до 147 часов прослушивания музыки и 13 часов в играх.
            
            
            
                    НОВЫЙ ВИБРОМОТОР
            
            
            
                    Линейный вибромотор способен воспроизводить до 150 вариантов вибрации для разных типов уведомлений. Теперь вы можете ощущать сообщения, вызовы и уведомления на кончиках пальцев без необходимости смотреть на экран смартфона.
            
            
            
                    ВСТРОЕННЫЙ В КНОПКУ ПИТАНИЯ СКАНЕР ОТПЕЧАТКОВ ПАЛЬЦЕВ
            
            
            
                    Встроенный в кнопку питания сканер отпечатков пальцев делает процесс разблокировки невероятно быстрым, интуитивным и удобным. Все ради вашего удобства. Естественная и моментальная разблокировка. Никаких лишних действий. Просто возьмите смартфон в руку и разблокируйте.
            
            
            
                    СТАНЬТЕ РЕЖИССЕРОМ СВОЕЙ ЖИЗНИ
            
            
            
                    Redmi Note 9 Pro поддерживает запись видео с разрешением 4K. Используйте новые режимы съемки и фильтры, чтобы создавать захватывающие видео профессионального уровня.
            
            
            
                    СКАНЕР В ВАШЕМ КАРМАНЕ
            
            
            
                    Теперь благодаря режиму "Документы" вы можете превратить свое устройство в портативный сканер, который с легкостью уместится в кармане. Сканируйте документы и редактируйте их прямо на Redmi Note 9 Pro. Потребуется всего пара минут.
                </p>
            </div>
        </div>
    
</div>