$color: white;
$color-hover: orange;
.container2{ display: none; }
.container3{ display: none; }
.container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 60px;
    background-color: #2d3b5a;
}

.main span{
    color: #688be2;
    font-size: 14px;
}

.brand{ font-size: 30px; color: #94aec1a1; }


.item{ display: grid; }

.admin{
    grid-template-columns: 80% 20%;
}

.admin a{
    font-size: 17px;
}

.main{
    align-self: center;
}

.login-menu-items{
    align-self: center;
}

.shopping_cart{ 
    color: #c6ced4; 
    font-size: 40px;
}

li{
    display: inline-block;
    margin-left: 15px;
}

a{
    text-decoration: none;
    font-size: 27px;
    color: $color;
    
    &:hover{
        color: $color-hover;
    }
}




.active{
    color: $color-hover;
}


@media (max-width: 1390px) {
    .container{
        display: grid;
        grid-template-columns: 30% 30% 40%;
        
    }
    .container3{ display: none; }
}

@media (max-width: 1083px){
    .offer{
        display: none;
    }
    .container{ display: none; }
    .container2{ 
        display: grid;
        grid-template-columns: 50% 50%;
        height: 60px;
        background-color: #2d3b5a;
    }
    .container3{ display: none; }
}

@media (max-width: 815px){
    .container{ display: none; }
    .container2{ display: none; }
    .container3{ 
        display: grid;
        grid-template-columns: 50% 50%;
        height: 60px;
        background-color: #2d3b5a;
    }

    .material-icons{
        color: white;
        font-size: 40px;
        //margin-left: 10px;
    }

    .menu-right{
        padding-left: 10px;
    }

    .list-menu{
        z-index: 100;
        border: 1px solid rgb(207, 207, 207);
        position: absolute;
        padding-right: 5px;
        min-width: 200px;
        min-height: 200px;
        margin-left: 0;
        margin-top: 0;
        background-color: white;
    }

    li{
        display:table;
        margin-left: 15px;
    }

    a{
        color: #2d3b5a;
        font-size: 20px;
        line-height: 2;
    }

    .close{
        
        
        
        color: #2d3b5a;
    }

    .noVisible{
        display: none;
    }

}