$color: white;
$color-hover: orange;

.container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 60px;
    background-color: #2d3b5a;
}

.brand{ font-size: 40px; color: #94aec1a1; }

.offer{
    color: white;
}

.item{ 
    display: grid; 
    grid-template-columns: 80% 20%;
}
.main{
    align-self: center;
}

.login-menu-items{
    align-self: center;
}

.shopping_cart{ 
    color: #c6ced4; 
    font-size: 40px;
}

li{
    display: inline-block;
    margin-left: 15px;
}

a{
    text-decoration: none;
    font-size: 27px;
    color: $color;
    
    &:hover{
        color: $color-hover;
    }
}

.admin a{
    font-size: 17px;
}


.active{
    color: $color-hover;
}