<div class="container">
    <div class="item">
        <div class="main">
            <ul>
                <li><a href="" routerLink="/" routerLinkAktive="active">Home</a></li>
                <li><a href="" [routerLink]="['/category', catId]" routerLinkAktive="active">Categories</a></li>
                <li><a href="" routerLink="/about" routerLinkAktive="active">About</a></li>
            </ul>
        </div>
    </div>
    <div class="item">
        <div class="main ">
            <h1 class="brand">OnlineStore</h1>
            <span>internet shop of cell phones</span>
        </div>
    </div>
    <div class="item admin ">
        <div class="login-menu-items ">
            <ul>
                <li><a href="" routerLink="/buyer/login" routerLinkAktive="active">Login</a></li>
                <li><a href="" routerLink="/buyer/register" routerLinkAktive="active">Register</a></li>
                <li><a href="" routerLink="/buyer/order" routerLinkAktive="active">My orders</a></li>
                <!-- <li><a href="" routerLink="" routerLinkAktive="active">Dashboard</a></li> -->
            </ul>
        </div>
        <div class="login-menu-items ">
            <a href="" routerLink=""><span class="material-icons shopping_cart">shopping_cart</span></a>
        </div>
    </div>
</div>

<!-- ==============@media (max-width: 1083px)================ -->

<div class="container2">
    <div class="item">
        <div class="main">
            <ul>
                <li><a href="" routerLink="" routerLinkAktive="active">Home</a></li>
                <li><a href="" [routerLink]="['/category', catId]" routerLinkAktive="active">Categories</a></li>
                <li><a href="" routerLink="/about" routerLinkAktive="active">About</a></li>
            </ul>
        </div>
    </div>
    <div class="item admin ">
        <div class="login-menu-items ">
            <ul>
                <li><a href="" routerLink="/buyer/login" routerLinkAktive="active">Login</a></li>
                <li><a href="" routerLink="/buyer/register" routerLinkAktive="active">Register</a></li>
                <li><a href="" routerLink="/buyer/order" routerLinkAktive="active">My orders</a></li>
                <!-- <li><a href="" routerLink="" routerLinkAktive="active">Dashboard</a></li> -->
            </ul>
        </div>
        <div class="login-menu-items ">
            <a href="" routerLink=""><span class="material-icons shopping_cart">shopping_cart</span></a>
        </div>
    </div>
</div>

<!-- ===============@media (max-width: 815px)=============== -->

<div class="container3">
    <div class="item mobile-menu">
        <div class="login-menu-items menu-right" (click)="closeMenu()">
            <span class="material-icons" >menu</span>
        </div>
        
        <div class="list-menu " [ngClass]="{noVisible: close}">
            <div (click)="closeMenu()">
                <span class="material-icons close" >close</span>
            </div>
            <div>
                <ul>
                    <li><a href="" routerLink="/" routerLinkAktive="active">Home</a></li>
                    <li><a href="" [routerLink]="['/category', catId]" routerLinkAktive="active">Categories</a></li>
                    <li><a href="" routerLink="/about" routerLinkAktive="active">About</a></li>
                    <li><a href="" routerLink="/buyer/login" routerLinkAktive="active">Login</a></li>
                    <li><a href="" routerLink="/buyer/register" routerLinkAktive="active">Register</a></li>
                    <li><a href="" routerLink="/buyer/order" routerLinkAktive="active">My orders</a></li>
                    <!-- <li><a href="" routerLink="" routerLinkAktive="active">Dashboard</a></li> -->
    
                </ul>
            </div>
        </div>
        
    </div>
    <div class="item ">
        <div class="login-menu-items ">
            <a href="" routerLink=""><span class="material-icons shopping_cart">shopping_cart</span></a>
        </div>
    </div>
</div>