<div class="content">
    <div class="page-identify">
        <h2>Login page</h2>
        <p>pleace inter the credentials</p>
    </div>
    <div class="notificate border" >
        <!-- <app-notify></app-notify> -->
        <!-- <h3>Notifikation Lorem15 sdfthshrh </h3> -->
    </div>
    <div class="form">
        <form>
            <div>
                <input type="text">
            </div>
            <div>
                <input type="text">
            </div>
            <div>
                <input type="text">
            </div>
            <div>
                <button class="btn">submit</button>
            </div>
        </form>
    </div>
</div>