<div class="main-content">
    <div>
        <h2>About our company</h2>
    </div>
    <div class="content">
        <p>Our company is the best in the city, consectetur adipisicing elit. Maxime quo tenetur
             nesciunt facilis adipisci. Porro quasi excepturi dolorem maiores 
             sed obcaecati quis quas, maxime soluta corporis minus 
             consequatur ipsum quae inventore, cum nemo nihil adipisci, odit
              cupiditate. Inventore recusandae suscipit mollitia earum. Voluptatum doloremque 
              nesciunt voluptatem commodi possimus dignissimos quis consequatur eos
               minima omnis, quidem, est, praesentium explicabo culpa error aliquid.
                Commodi distinctio delectus sapiente corrupti excepturi temporibus culpa,
                 quos nostrum animi repudiandae id aliquid! Eligendi, architecto tempore 
                 asperiores doloribus unde, cumque temporibus suscipit quas deleniti 
                 accusantium aliquam eveniet eius, maiores quidem obcaecati ab consectetur 
                 libero velit error amet neque. Illo officia quas dolorum perspiciatis 
                 corporis explicabo quidem in atque odit consequuntur adipisci molestiae 
                 pariatur, facilis eligendi cupiditate eveniet. Nostrum nihil laudantium, 
                 doloribus, incidunt dolorem sequi, officiis sed maxime tempora esse 
                 exercitationem a expedita obcaecati saepe error ab mollitia enim molestias 
                 consectetur architecto labore fugiat aspernatur odio sint. Illum minus inventore 
                 quibusdam, harum sunt quia similique ratione soluta laudantium autem nemo veniam error,
                  facere rem modi ducimus pariatur! Iusto voluptatem, minima exercitationem, fuga, tempore 
                  laboriosam corrupti excepturi nemo cum placeat neque nam quidem voluptatibus 
                  distinctio quos fugiat? Optio magni ea veritatis, doloribus quas
                   perspiciatis laudantium, quisquam aut perferendis voluptates
                    ullam reprehenderit fugit, illum aspernatur fuga quasi provident 
                    neque illo harum repellendus unde dolores omnis. Recusandae quam
                     ducimus praesentium! Cupiditate, distinctio cum dignissimos 
                     quisquam, beatae libero veritatis maiores eligendi, quis doloribus 
                     facilis! Aliquid nisi ullam officiis illo, eum inventore sit fugiat
                      ducimus optio! Sunt, assumenda, accusamus debitis soluta
                       quod nulla commodi earum fugiat ea iste fugit provident 
                porro, eum deleniti. Sequi quos voluptas inventore necessitatibus commodi.
                 Soluta, laudantium dolores? Ipsum delectus maxime ex earum! Est consectetur 
                 laborum error ut, sed magnam ea dolorem! Debitis voluptatum dolore provident
                  minima itaque, eaque ex quos, fuga error ullam veniam temporibus aliquid 
                  eveniet nemo quod officiis iste ea assumenda enim illo fugiat. Temporibus a 
                  libero magni numquam minima assumenda, sint, repellendus eos voluptatibus,
                   quisquam reiciendis minus? Eos optio aspernatur cum aperiam praesentium 
                   voluptate, porro nostrum consequatur corporis quae impedit earum non fuga,
                    alias vitae blanditiis? Quia corporis dignissimos corrupti? Consequatur 
                    possimus commodi saepe cupiditate vel! Harum numquam, fugit adipisci pariatur 
                    corporis dolor assumenda asperiores iste ex, laudantium iusto? In a maxime 
                    officia nemo ad eligendi, dolorum iste quibusdam debitis illum fugiat laboriosam 
                    dolore? A autem nemo accusantium minima. Aut maxime officiis accusamus, commodi 
                    illum voluptatum ullam non recusandae ipsum quae animi molestias autem
                     facere minima cupiditate esse. Ad voluptatum laborum, natus numquam iure 
                     quas sunt, vel corrupti consequuntur dolor nam saepe veritatis iste odio 
                     magni, debitis cumque. Nesciunt, porro distinctio iure dolorum consectetur
                      facere maiores numquam et magni, nulla velit exercitationem voluptatum nam 
                      pariatur! Dignissimos consequuntur necessitatibus et, ut, quasi omnis
                       accusamus adipisci eius numquam, accusantium facilis! Tempore, ratione 
                       fuga rem ut obcaecati numquam repellat, consectetur, eum voluptatem 
                       velit quis aperiam recusandae perferendis aliquam illo laborum. 
                       Labore temporibus voluptates non odio, expedita exercitationem 
                       neque sequi corrupti nesciunt perspiciatis perferendis aliquam 
                       repudiandae maiores, debitis eos accusantium quaerat, sapiente 
                       animi quo dignissimos soluta. Ipsum nobis maxime ea!</p>
    </div>
</div>