<div class="content border">
    <form [formGroup]="form" (ngSubmit)="createProduct()" class="form">
        <div>
            <input 
                type="text" 
                formControlName="title"
                placeholder="title"
            >
        </div>
        <div>
            <input 
                type="file" #input
                (change)="onFileUpload($event)"
            >
            <div class="image">
                <img 
                  [src]="imagePreview" alt=""
                  *ngIf="imagePreview"
                >
            </div>
        </div>
          
        <div>
            <label for="">category</label>
            <select  formControlName="category" >
                <option>Xiomi</option>
                <option>IPhone</option>
                <option>Samsung</option>
            </select>
        </div>
        
        <div class="text-editor">
            <label for="">information</label><br><br>
            <quill-editor 
                formControlName="info"
            ></quill-editor>
        </div>   <br>
        <div class="text-editor">
            <label for="">description</label><br><br>
            <quill-editor 
                formControlName="description"
            ></quill-editor>
        </div> 
        
        <div>
            <input 
                formControlName="price"
                placeholder="price"
                type="text" 
            >
        </div>
        <div>
            <button
                class="btn"
                type="submit"
            >submit</button>
        </div>
    </form>

    
</div>