<div class="container">
    <div class="filter ">
        <div class="filter-view ">
            <div><span class="material-icons ">view_list</span></div>
            <div><span class="material-icons ">view_module</span></div>
        </div>
        <div class="filter-search ">
            <div class="search-input">
                <input type="text" placeholder="search...">
            </div>
            <div class="search-button">
                <button type="submit">search</button>
            </div>
        </div>

        
    </div>

    <div class="content ">

        <a href="">
            <div class="cart  ">
                
                <div class="cart-item">
                    <img src="https://github.com/mih777/images/blob/master/iphone.jpeg?raw=true" alt="">
                </div>
                <div class="cart-item-title cart-item">
                    Xiaomi Redmi Note 9 Pro 6</div>
                <div class="cart-item-rating cart-item">
                    <span class="material-icons star_border">
                        star_border
                        star_border
                        star_border
                        star_border
                        star_border
                    </span>
                </div>
                <div class="cart-item-price cart-item">
                    <h3>цена 3453413</h3>
                </div>
                <div class="cart-item-buy cart-item">
                    <button class="buy-button">buy</button>
                </div>

            </div>
        </a>
        
        
    </div>

    <div class="item border">
        <!-- <div class="filter-sort">
            <div class="filter-sort-item ">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>from cheaper</option>
                        <option>from expensive</option>
                    </select>
                  </div>
            </div>
            <div class="filter-sort-price ">
                <div class="filter-sort-price-item left"><input type="text" placeholder="price from..."></div>
                <div class="filter-sort-price-item left"><input type="text" placeholder="price to..."></div>
                <div class="filter-sort-price-item"><button type="submit" value="find">find</button></div>
            </div>
        </div> -->
    </div>
</div>