$click-color: #436973;
$click-color-hover: #5c8d9b;

img{
    height: 300px;
}

.list-container-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 40px;
    padding: 15px;
    &:hover{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}

.container{
    display: grid;
    margin-top: 20px;
    justify-items: center;
    padding: 15px;
    &:hover{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}

.buy-button{
    
        height: 35px;
        width: 100px;
        border: none;
        background-color: $click-color;
        border-radius: 2px;
        color: white;
        margin-left: 5px;
        font-size: 20px;
        outline: none;
        &:hover{
            background-color: $click-color-hover;
        }
    
}
