<!--////////////////////// plitka view //////////////////-->
<div class="content-pltka border"  *ngIf="listView">
    
    <div class="border">
        <img src="https://github.com/mih777/images/blob/master/iphone.jpeg?raw=true" alt="">
    </div>
    <div class="border">
        <h2>price 234987</h2>
    </div>
    <div class="border">
        <button>buy</button>
    </div>
    
</div>





<!--/////// List view ///////////-->

<div class="content border"  *ngIf="!listView">
    
    <div class="border">
        <img src="https://github.com/mih777/images/blob/master/iphone.jpeg?raw=true" alt="">
    </div>
    <div class="border">
        <h2>Traits</h2>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Itaque, et. Nulla, odio accusantium quibusdam a excepturi
        tempore sapiente similique eaque vel, nesciunt aliquam
        perspiciatis, necessitatibus exercitationem velit 
        aspernatur autem repellendus?
    </div>
    <div class="border">
        <h3>Description</h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Itaque, et. Nulla, odio accusantium quibusdam a excepturi
        tempore sapiente similique eaque vel, nesciunt aliquam
        perspiciatis, necessitatibus exercitationem velit 
        aspernatur autem repellendus?
    </div>


    
</div>

