
<div class="list-container-main border">
    <div class="border">
        <img src="https://github.com/mih777/images/blob/master/iphone.jpeg?raw=true" alt="">
    </div>
    <div class="border">
        <div >
            <span class="material-icons star_border">
                star_border
                star_border
                star_border
                star_border
                star_border
            </span>
        </div>
        <div class="cart-item-price cart-item">
            <h3>цена 3453413</h3>
        </div>
    </div>
    <div class="border">
        <div>
            description
        </div>
        <div class="cart-item-buy cart-item">
            <button class="buy-button">buy</button>
        </div>
    </div>
</div>





<!-- <div class="container border">
    <div>
        <img src="https://github.com/mih777/images/blob/master/iphone.jpeg?raw=true" alt="">
    </div>
    <div >
        <span class="material-icons star_border">
            star_border
            star_border
            star_border
            star_border
            star_border
        </span>
    </div>
    <div class="cart-item-price cart-item">
        <h3>цена 3453413</h3>
    </div>
    <div class="cart-item-buy cart-item">
        <button class="buy-button">buy</button>
    </div>
</div> -->
    